/* Enter your custom styles here */



.MTB {
    white-space: nowrap;
    overflow: hidden;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    height: 3rem;
    background: #c2dbf1;
}

.header {
    font-size: 1.4rem;
    background-color: #c2dbf1;
}
.pdfDialog iframe{
    width:100% !important; 
}
.refHosp>div:nth-child(1){
	width: calc( 100% - 40px);
}

.refHosp>div:nth-child(2){
	width: 40px;
}
.onBehalfClass span{
	color:orange;
}